mix_ping_tcp
mix_ping_quic
nimcache/
nimbledeps/
.agents/
.codex
nimble.paths
nimble.develop
experiment-output
# FIXME should probably set a /build folder for this...
tools/node/node
tools/node/node-debug
